menu "TouchPad BLE Configuration"

    config BLE_DEVICE_NAME
        string "TouchPad BLE Mode Device Name"
        default "R-SODIUM BLE Precision TouchPad"
        help
            Set the device name for BLE mode.

endmenu